<td>
    <button type="button" class="btn btn-info"
            data-toggle="modal"
            th:data-target="${'#edit' + usr.id}">Edit
    </button>
    <!-- Modal Edit-->
    <div class="modal fade"
         th:id="'edit'+${usr.id}" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="text-center"
                          style="width: 220px; margin: auto"
                          th:method="put"
                          th:action="@{/admin/edit/{id}(id=${usr.id})}"
                          th:object="${usr}"
                          th:id="${'editForm' + usr.id}">
                        <!-- ID -->
                        <div class="form-group">
                            <label for="id"
                                   class="col-form-label font-weight-bold">ID</label>
                            <input readonly type="text"
                                   style="height:30px"
                                   class="form-control"
                                   name="id"
                                   th:value="${usr.id}"
                                   id="id">
                        </div>
                        <!-- First Name input -->
                        <div class="form-group">
                            <label for="name"
                                   class="col-form-label font-weight-bold">First
                                name</label>
                            <input type="text"
                                   style="height:30px"
                                   class="form-control"
                                   name="name"
                                   th:value="${usr.name}"
                                   id="name"/>
                        </div>

                        <!-- Last Name input -->
                        <div class="form-group">
                            <label for="lastName"
                                   class="col-form-label font-weight-bold">Last
                                name</label>
                            <input type="text"
                                   style="height:30px"
                                   class="form-control"
                                   name="lastName"
                                   th:value="${usr.lastName}"
                                   id="lastName"/>
                        </div>
                        <!-- Age input -->
                        <div class="form-group">
                            <label for="age"
                                   class="col-form-label font-weight-bold">Age</label>
                            <input type="number"
                                   style="height:30px"
                                   class="form-control"
                                   name="age"
                                   th:value="${usr.age}"
                                   id="age"/>
                        </div>
                        <!-- Email input -->
                        <div class="form-group">
                            <label for="username"
                                   class="col-form-label font-weight-bold">Email</label>
                            <input type="email"
                                   style="height:30px"
                                   class="form-control"
                                   name="username"
                                   th:value="${usr.username}"
                                   id="username"/>
                        </div>
                        <!-- Password input -->
                        <div class="form-group">
                            <label for="password"
                                   class="col-form-label font-weight-bold">Password</label>
                            <input type="password"
                                   style="height:30px"
                                   class="form-control"
                                   name="password"
                                   th:value="${usr.password}"
                                   id="password"/>
                        </div>
                        <div class="form-group">
                            <label for="roles"
                                   class="col-form-label font-weight-bold">Role</label>
                            <select multiple
                                    class="form-control form-control-sm"
                                    id="roles"
                                    name="roles"
                                    size="2" required>
                                <option th:each="role: ${listRoles}"
                                        th:value="${role.getId()}"
                                        th:selected="${usr.roles.contains(role)}">
                                    <th:block
                                            th:text="${role.toString()}">
                                    </th:block>
                                </option>
                            </select>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <input type="submit"
                           th:form="${'editForm' + usr.id}"
                           class="btn btn-primary"
                           value="Edit"/>
                </div>
            </div>
        </div>
    </div>
</td>